%article.album_card{class: "flex gap-4 content-center p-4 bg-rose-200 rounded w-80 h-40"}
  .cover{class: "h-32 w-32 grow-0 shrink-0 justify-self-start"}
    %p{class: "text-xs"} Listen on Spotify
    = link_to (image_tag album.cover, class: "h-28 w-28"), album.external_uri
  .info{class: "w-full overflow-hidden"}
    %h2.name{class: "font-bold text-rose-700 max-h-20 overflow-hidden"}
      = link_to album.name, album_path(album)
    %ul.artists
      - album.artists.each do |artist|
        %li.artist_name{class: "overflow-hidden"}
          = artist.name
