@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl;
  }
  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='number'],
  input[type='url'],
  input[type='date'],
  input[type='datetime-local'],
  input[type='month'],
  input[type='week'],
  input[type='time'],
  input[type='search'],
  input[type='tel'],
  input[type='checkbox'],
  input[type='radio'],
  select,
  select[multiple],
  textarea {
    @apply rounded focus:border-sky-800 focus:ring-sky-800;
  }
}

@layer components {
  .btn-clear {
    @apply block h-8 w-max py-1.5 px-3 bg-white text-rose-700 font-bold rounded
           flex items-center
           hover:bg-rose-200 active:text-sky-800;
  }
  .btn-color {
    @apply block h-8 w-max py-1.5 px-3 bg-rose-700 text-white font-bold rounded
           flex items-center
           hover:bg-rose-800 active:bg-sky-800;
  }
  .btn-special {
    @apply block h-8 w-max py-1.5 px-3 bg-sky-800 text-white font-bold rounded
           flex items-center
           hover:brightness-110 active:border-none;
  }

  .btn-text-clear {
    @apply text-rose-700 font-bold rounded
           hover:bg-rose-200 active:text-sky-800
  }
}

